#abo,#standort,#printwerk{
	padding-top:10px;
}

#abo_list,#standorte_list{
	padding-top:10px;
	padding-bottom:10px;
}
#abo_new{

}
th{
	word-wrap: break-word;
}
.standorte_bbdb_auswahl{
	padding-bottom:15px;
}
.standorte_bbdb_auswahl select{
	margin-left:5px;
}
.modal-lg{
	max-width:2000px;
}
#standortmove_map {
  width: auto;
  min-height:800px;
  height: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
