html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height:100%;
}
#bso_nav .input-group{
	padding-top:2px;
	
}
.marker-cluster-large,.marker-cluster-medium,.marker-cluster-small,.marker-cluster-small div,.marker-cluster-medium div,.marker-cluster-large div{
	background-color:orange!important;
}

#export_image{
	max-width:100%;
}

nav.navbar{
	border-top:1px solid black;
	border-bottom: 1px solid black;
	min-height:50px;
}
nav.navbar-brand img{
	position:absolute;
	top:2px;
	left:5px;
}
nav.navbar-brand{
	min-width:74px;
}
nav.navbar-toggler{
	border-color:black!important;
}
#login_logo{
	position:relative;
	left:7px;
}

#logo_steinverlag{
	height:40px;
}
.nav-link{
	background-repeat:no-repeat;
	padding-top: 34px;
	font-size:13px;
	padding-bottom:0px;
	text-align:center;
}

.navbar{
	padding-top:1px !important;
	padding-bottom:0px !important;
}

.navbar-form{
	margin-top:8px;
	margin-bottom:8px;
}
.icon_zweitwerk{
	background-color:gray;
}
.icon_branche_tbl{
	background-repeat:no-repeat;
	padding-left: 7px;
	background-position: center 0px;
	background-size:auto 15px;
}
.icon_branche{
	background-repeat:no-repeat;
	padding-left: 25px;
	margin-right:5px;
	background-position: center 0px;
	background-size:auto 15px;
}

.icon_1,.icon_7{
	background-color:yellow;
}
.icon_3{
	background-color:FireBrick;
}
.icon_4,.icon_8{
	background-color:navy;
}
.icon_5,.icon_6{
	background-color:LightBlue;
}
.icon_2{
	background-color:SeaGreen;
}

#umkreis{
	display:none;
}
#route{
	display:none;
}
#umkreis_select_min{
	display:none;
}

#uk_position,#route_start_position,#route_ziel_position{
	display:none;
}
#uk_mitte,#route_start_mitte,#route_ziel_mitte{
	margin-right:2px;
}
#uk_mitte,#uk_position,#route_start_position,#route_ziel_position,#route_start_mitte,#route_ziel_mitte{
	float:right;
}

#nav_standorte{
	background-size:24px 32px;
	background-image:url(../img/nav/icon_uebersicht.png);
	background-position: center 0px;
}

#nav_umkreis{
	background-size:32px 32px;
	background-image:url(../img/nav/icon_umkreis.png);
	background-position: center 2px;
}

#nav_route{
	background-size:29px 29px;
	background-position:center 4px;
	background-image:url(../img/nav/icon_route.png);
}
#nav_export{
	background-size:29px 28px;
	background-position:center 5px;
	background-image:url(../img/nav/icon_export.png);
}
#nav_hilfe{
	display:none;
	background-size:29px 29px;
	background-image:url(../img/nav/icon_info.png);
	background-position: center 4px;
}

#nav_logout{
	background-image:url(../img/nav/icon_logout.png);
	background-size:23px 23px;
	background-position:center 9px;
}

.loading-indicator{
	text-align:center;
	font-weight:bold;
}

/**
Die Navbar
**/
/*
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  /*color: #FFFFFF;*/
/*}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}*/




input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display: block;
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top:15%;
  left: auto;
  z-index: 20001;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#features .card-body{
	overflow-y:scroll;
	height:100%;
	padding-left:0px;
	padding-right:4px;
}
.sidebar-hide-btn {
  float:right;
  font-size:11px;
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.panel-heading{
   width: 250px;
}
.panel-body{
  width: 250px;
}
.feature-row {
  cursor: pointer;
  width: 250px;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}

.typeahead {
  background-color: #FFFFFF;
}
.tt-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  z-index:900!important;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}

/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}


@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
  @page{
	  size:A4;
	  margin:0.4cm;
  }
}
